@import "tailwindcss";

:root {
  --primary-color: #c2f800;
  --dark-color: #0c0c0c;
  --background: #0c0d10;
  --foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary-color);

  --font-sans: var(--font-inter);

  --font-oswald: var(--font-oswald);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
